# Build directories
build/
out/
cmake-build-*/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
compile_commands.json

# CMake presets (local only)
CMakeUserPresets.json

# Binaries
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.exp

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# qt
.qt/